:root {
  --primario: #4caf50;
  --secundario: #9a68c8;
}
.fondo-claro {
  background-color: var(--primario);
}
.fuente1 {
  font-family: "Montserrat", sans-serif;
}
.fuente2 {
  font-family: "Manrope", sans-serif;
}
.fuente3 {
  font-family: "Tangerine", cursive;
}
.fuente-color {
  color: var(--primario);
}
.fuente-color2 {
  color: #0d1b2a;
}
.fuente-color3 {
  color: var(--secundario);
}
#destinosimp {
  scroll-margin-top: 7.8em;
}
#cruceros {
  scroll-margin-top: 7.8em;
}
#masdestinos {
  scroll-margin-top: 7.5em;
}
#tipviajes {
  scroll-margin-top: 7.8em;
}
#contacto {
  scroll-margin-top: 7.5em;
}
/* Nav / Menu */
a img {
  width: 100px;
  height: 80px;
  object-fit: contain;
}
nav {
  transition: 0.7s;
}
button i {
  font-size: 50px;
}
/* Animaciones al nav */
.btnNav {
  font-size: 18px;
  margin: 0.5em;
  background: transparent;
  color: #000;
  border: none;
  /* border-radius: 1.625em; */
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btnNav:hover {
  color: var(--primario);
}
.btnNav::before {
  content: "";
  width: 0%;
  height: 3px;
  background: var(--primario);
  position: absolute;
  transition: all 0.5s;
  left: 0;
  bottom: 0px;
}
.btnNav:hover::before {
  width: 100%;
}
.btnNav:focus {
  color: var(--primario);
}

/* Destinos Imperdibles */
.imgSombra {
  box-shadow: 0px 10px 20px;
}
.img-Imperdible {
  object-fit: contain;
}
.tarjeta-destino {
  transition: all 0.3s;
}
.tarjeta-destino:hover {
  transform: translateY(-10px);
}
/* Cruceros */
.rounded-cruceros {
  border-radius: 10px;
}
.btn {
  padding: 1em 2em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: var(--primario);
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: var(--secundario);
  box-shadow: 0px 15px 20px #9d4caf9d;
  color: #fff;
  border: 1px solid var(--secundario);
  transform: translateY(-7px);
}
.btn:active {
  transform: translateY(-1px);
}
/* Más Destinos */
.iconFondo,
.iconFondo {
  background-color: #0d1b2a;
  transition: all 0.3s;
  border-radius: 50%;
}
.iconFondo,
.iconFondo:hover {
  transform: translateY(-10px);
}
/* Tips de Viajes */
.fondo-tips {
  /* background-color: #306ba9; */
  background-image: url("../assets/header/fondo-playa.jpg");
  /* background-image: url('../assets/tips/ia3.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  object-fit: contain;
}
.card-viajes {
  /* background-color: #0d1b2a; */
  /* background: #0d1b2acb; */
  border-radius: 10px;
  background: rgba(223, 208, 208, 0.493);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.lista {
  list-style-type: none;
  padding-left: 0;
}
.card {
  transition: 0.3s;
}
.card-header {
  border: 0px solid;
}
.png-tips {
  width: 120px;
  height: 100px;
  object-fit: contain;
}

/* Seccion de Contactos */
.fondo-formulario {
  /* background-color: #4caf50; */
  background-image: url("../assets/header/fondo-playa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  object-fit: contain;
  padding: 20px 0px 20px 0px;
}

.card-formulario {
  padding: 20px;
  width: 560px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.699);
  box-shadow: 0 8px 32px 0 rgba(156, 159, 207, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.title {
  font-weight: 600;
  text-align: center;
}
.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.group {
  position: relative;
}

.form .group label {
  font-size: 14px;
  color: black;
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: rgba(223, 208, 208, 0.147);
  transition: all 0.3s ease;
}
.input {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #4caf50;
  padding: 0.2rem 0;
  margin: 10px 0px;
  outline: none;
  background-color: transparent;
  color: #000000;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: var(--secundario);
}

.input::placeholder {
  color: #000;
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

.form .group textarea {
  resize: none;
  height: 100px;
}

.form-button {
  font-size: 12px;
  --c1: #c691f8;
  --c2: #b43bff;
  padding: 12px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background: linear-gradient(
      90deg,
      var(--c1, #f6d365),
      var(--c2, #fda085) 51%,
      var(--c1, #f6d365)
    )
    var(--x, 0) / 200%;
  color: white;
  border: none;
  border-radius: 20px;
  outline: none;
}

.form-button:hover {
  --x: 100%;
}
.form-button:active {
  scale: 0.95;
}
.borde-titulo {
  font-size: 20px;
  border: 3px solid var(--secundario);
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
}
.contacto-letra {
  font-size: 13px;
}
textarea {
  margin-bottom: 12px;
}
.enviar-wsp {
  margin-top: 5px;
}
/* pie de pagina */
a {
  text-decoration: none;
  transition: 0.5s;
}
.tyc:hover {
  color: var(--secundario);
}
.icon-footer {
  width: 30px;
  object-fit: contain;
  transition: all 0.5s;
  color: #fff;
}
.footer-list a {
  text-decoration: none;
  font-size: 15px;
}
.icon-footer:hover {
  color: #64ec68;
  transform: scale(1.1);
}
.secundarioFooter {
  color: var(--primario);
  transition: all 0.5s;
}
.secundarioFooter:hover {
  color: #64ec68;
}
.secundarioFooter:focus {
  color: #64ec68;
}
.logo-footer {
  width: 80px;
  object-fit: contain;
}
footer {
  font-size: 13px;
}
footer .btnNav {
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  nav {
    background-color: rgba(0, 0, 0, 0.137);
  }
  a img {
    width: 90px;
    height: 50px;
    object-fit: contain;
  }
  .carousel {
    margin-top: 50px;
  }
  .centrarDispositivoPeque {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .span-opacity-0 {
    opacity: 0%;
  }
  .display-3 {
    font-size: 32px;
  }
  .display-5 {
    font-size: 25px;
  }
  /* contacto */
  .fondo-formulario{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .form {
    margin: 1px;
  }
  .card-formulario {
    margin: 10px;
  }
  .form-button {
    margin: 0px;
  }
  .enviar-wsp {
    margin-top: 5px;
  }
  .enviar-wsp div {
    width: 120px;
  }
  .contacto-letra{
    font-size: 11px;
  }
  .borde-titulo {
    font-size: 17px;
    border: 1px solid var(--secundario);
    margin-bottom: 0px;
  }
  .seccion-cotiza {
    margin-top: 10px;
  }
  .form-button {
    width: 120px;
    font-size: 8px;
  }
  .form .group textarea {
    resize: none;
    height: 55px;
  }
  ul{
    padding: 0px 0px 0px 15px;
  }
  /* footer */
  footer {
    padding-top: 25px ;
    font-size: 10px;
  }
  .icon-footer {
    width: 20px;
    object-fit: contain;
    transition: all 0.5s;
  }
  .logo-footer {
    width: 50px;
    object-fit: contain;
  }
  footer .btnNav {
    font-size: 10px;
  }
}
@media screen and (max-width: 450px) {
/* contacto */
.fondo-formulario{
  padding: 6px;
}
.contacto-letra {
  font-size: 9px;
}
}
@media screen and (max-width: 310px) {
  /* contacto */
  .fondo-formulario{
    padding: 6px;
  }
  .contacto-letra {
    font-size: 8px;
  }
  }
  @media screen and (max-width: 270px) {
    /* contacto */
    .fondo-formulario{
      padding: 6px;
    }
    .contacto-letra {
      font-size: 6px;
    }
    }